*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  margin: 50px;
  display: flex;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    text-align: center;
    font-family: arial;
    margin: 0 15px 0 15px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .remove-btn{

    padding: 10px 15px 10px 15px;
    background-color: red;
    
  }
  